@font-face {
    font-family: "ZoFo-AVcall";
    src: url('/chat/source/officechat/images/fonts/mediafonts/zchat.c18f6c6cb4cdd09d852ea3485284f6e2.eot') format('eot'), url('/chat/source/officechat/images/fonts/mediafonts/zchat.24c9adda8067e5d489d72d36a2309e3d.woff') format('woff'), url('/chat/source/officechat/images/fonts/mediafonts/zchat.67bba7c94e06ffa11af58502d5e1d9b2.ttf') format('truetype'), url('/chat/source/officechat/images/fonts/mediafonts/zchat.9224b1238b1067837148c61f8b69d2f4.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="zcf-"]:before,
[class*=" zcf-"]:before,
.msi-alrt:before,
.msi-ldspeaker:before,
.msi-call:before,
.zcf-video-blur:after {
    font-family: ZoFo-AVcall;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zcf-earphone:before {
    content: "\e9e6";
}

.zcf-closeB:before {
    content: '\e97e';
}

.zcf-rightArrow:before {
    content: '\e932';
}

.zcf-setting:before {
    content: '\e9b3';
}

.zcf-shrink:before {
    content: '\e96b';
}

.zcf-leftArrow:before {
    content: '\e932';
    display: inline-block;
    transform: rotate(180deg);
}

.zcf-moreS:before {
    content: '\e986';
}

.zcf-scrn-shr-stop:before {
    content: "\e97a";
}

.zcf-swap:before {
    content: "\e977";
}

.zcf-mini-player:before {
    content: "\e96c";
}

.zcf-mini-player2:before {
    content: "\e92c";
}

.zcf-video-mute:before {
    content: "\e95f";
}

.zcf-mic:before {
    content: "\e960";
}

.zcf-sharescrn:before {
    content: "\e949";
}

.msi-call:before {
    content: '\e903';
}

.zcf-audio:before {
    content: "\e928";
}

.zcf-chat:before {
    content: "\e91f";
}

.zcf-mic-mute:before {
    content: "\e923";
}

.zcf-video:before {
    content: "\e927"
}

.zcf-call:before {
    content: "\e90b"
}

.zcf-maximize:before {
    content: "\e913";
}

.zcf-send:before {
    content: "\e904";
}

.msi-ldspeaker:before {
    content: "\e901";
}

.msi-alrt:before {
    content: "\e905";
}

.zcf-call-again:before {
    content: "\e9d9";
}

.zcf-stop-record:before {
    content: "\e9e1";
}

.zcf-failed:before {
    content: '\e9af';
}

.zcf-fullscrn:before {
    content: '\e90d';
}

.zcf-exit-fullscrn:before {
    content: '\e90e';
}

.zcf-system:before {
    content: "\e911";
}

.zcf-mobile:before {
    content: "\e90f";
}

.zcf-tablet:before {
    content: "\e910";
}

.zcf-presentation:before {
    content: '\e919';
}

.zcf-presentation-end:before {
    content: '\e918';
}

.zcf-zoomin:before {
    content: '\e91a';
}

.zcf-cursor:before {
    content: '\e917';
}

.zcf-users:before {
    content: "\e912";
}

.zcf-pip:before {
    content: "\e914";
}

.zcf-mute-sound:before {
    content: '\e915';
}

.zcf-unmute-sound:before {
    content: '\e916';
}

.zcf-attach:before {
    content: '\e91b';
}

.zcf-tick:before {
    content: '\e91c';
}

.zcf-delete2:before {
    content: '\e91d';
}

.zcf-device-setting:before {
    content: '\e924';
}

.zcf-video-blur {
    position: relative;
}

.zcf-video-blur:before {
    content: "\e91e";
    opacity: 0.6;
}

.zcf-video-blur:after {
    content: '\e921';
    font-size: .35em;
    position: absolute;
    padding-bottom: 1px;
}

.zcf-blocked:before {
    content: '\e920';
}

.zcf-newfeature:before {
    content: '\e922';
}

.zcf-rightArrow:before {
    content: '\e932';
}

.zcf-downArrow:before {
    content: '\e932';
    display: inline-block;
    transform: rotate(90deg);
}

.zcf-leftArrow:before {
    content: '\e932';
    display: inline-block;
    transform: rotate(180deg);
}

.zcf-rightArrow:before {
    content: '\e932';
    display: inline-block;
}

.zcf-upArrow:before {
    content: '\e932';
    display: inline-block;
    transform: rotate(270deg);
}

.zcf-computer:before {
    content: "\e929";
}

.zcf-sound:before {
    content: "\e925";
}

.zcf-pause:before {
    content: "\e926";
}

.zcf-memberAdd:before {
    content: "\e90c";
}

.zcf-warning:before {
    content: "\e92f";
}

.zcf-network-perf:before {
    content: "\e92e";
}