/*$Id$*/

#mics_stacked_backdrop {
    display: none;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
}

#mics_stacked_backdrop+#mics_stacked_carpet {
    width: 400px;
    z-index: 9999;
    height: 100vh;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0px;
    border: 0px;
}

#mics_stacked_backdrop+#mics_stacked_carpet[class=micsPanelLeft] {
    left: 0px;
}

#mics_stacked_backdrop+#mics_stacked_carpet[class=micsPanelRight] {
    right: 0px;
}

#mics_stacked_backdrop+#mics_stacked_carpet>#micsiframe {
    width: 100%;
    height: 100%;
    border: 0px;
    overflow: hidden;
}

.micsnumber {
    background: #ff4444;
    color: white;
    bottom: 12px;
    left: 10px;
    border-radius: 8px;
    position: absolute;
    width: fit-content;
    padding: 1px 4px;
    font-size: 13px;
}

.micsdot {
    background: #ff4444;
    color: transparent;
    bottom: 15px;
    left: 14px;
    position: absolute;
    font-size: 12px;
    display: none;
    width: 8px;
    height: 8px;
    border-color: #fa573a !important;
    border-radius: 8px;
}

/* $Id$ */

.micsDiv {
    font-size: 12px;
    position: fixed;
    z-index: 10000000;
}

.micshidden {
    cursor: pointer;
    overflow: hidden;
}

.micsBox {
    transition: 200ms;
}

.micshidden .micsBox {
    opacity: 0;
}

.micswrap {
    white-space: nowrap;
}

.micscontent {
    overflow: hidden;
}

.micscontent * {
    display: inline-block;
}

.micsiframeDiv {
    display: none;
}

.micscontent a {
    text-decoration: none;
}

.micscontent a:hover {
    text-decoration: underline;
}

.micsheader {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.micstoggle {
    cursor: pointer;
}

.micstoggle:before {
    content: " Hide ";
}

.micsaction {
    font-size: 10px;
}

.micsaction>* {
    padding: 3px;
}

.micsaction>*:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.micsclose {
    cursor: pointer;
}

.micsclose:before {
    content: " Close ";
}

.micscloseSymbol:before {
    content: " X  ";
}

.micstoggleSymbol:before {
    content: " V ";
    display: inline-block;
}

.micsTop .micstoggleSymbol:before {
    transform: rotate(180deg);
}

.micsNavTop .micstoggleSymbol:before {
    transform: rotate(180deg);
}

.micsLeft .micstoggleSymbol:before {
    transform: rotate(90deg);
}

.micsRight .micstoggleSymbol:before {
    transform: rotate(270deg);
}

.micsNavTop {
    top: 0;
    left: 0;
    position: relative;
    border-bottom: 4px solid;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.micsTop {
    top: 0;
    left: 0;
    border-bottom: 4px solid;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.micsTop.micshddn {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.micsBottom {
    bottom: 0;
    left: 0;
    border-top: 4px solid;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.micsBottom .micsarw {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.micsBottom.micshddn {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.micsTop,
.micsBottom,
.micsNavTop {
    width: 100%;
}

.micsTop.micshidden,
.micsBottom.micshidden,
.micsNavTop.micshidden {
    min-height: 0px;
    height: 0px;
}

.micsTop.micshidden:hover,
.micsBottom.micshidden:hover,
.micsNavTop.micshidden:hover {
    min-height: 15px;
    height: 15px;
}

.micsNavTop .micsBox {
    min-height: 30px;
    margin: 0px;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.micsTop .micsBox,
.micsBottom .micsBox {
    min-height: 30px;
    margin: 3px;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.micsTop .micsimage,
.micsBottom .micsimage,
.micsNavTop .micsimage {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    text-align: center;
}

.micsTop .micsimage img,
.micsBottom .micsimage img,
.micsNavTop .micsimage img {
    width: 50px;
    height: 25px;
}

.micsTop .micsaction,
.micsBottom .micsaction,
.micsNavTop .micsaction {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 2;
    -ms-flex: 2 10px;
    flex: 2 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.micsTop .micsheader,
.micsBottom .micsheader,
.micsNavTop .micsheader {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
}

.micsTop .micsinner,
.micsBottom .micsinner,
.micsNavTop .micsinner {
    -webkit-box-flex: 100;
    -ms-flex: 100 auto;
    flex: 100 auto;
}

.micsTop .micscontent,
.micsBottom .micscontent,
.micsNavTop .micscontent {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 20;
    -ms-flex: 20;
    flex: 20;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.micsTop .micsinner>*,
.micsBottom .micsinner>*,
.micsNavTop .micsinner>* {
    padding: 0px 2px;
}

.micsLeft .micscontent>*,
.micsRight .micscontent>* {
    padding: 2px 10px;
}

.micsLeft,
.micsRight {
    width: 400px;
    margin: 0;
    padding: 0;
}

.micsLeft.micshidden,
.micsRight.micshidden {
    min-width: 0px;
    width: 0px !important;
}

.micsLeft.micshidden:hover,
.micsRight.micshidden:hover {
    min-width: 15px;
    width: 15px;
}

.micsLeft .micsBox,
.micsRight .micsBox {
    padding: 10px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.micsLeft .micsimage,
.micsRight .micsimage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.micsLeft .micsimage img,
.micsRight .micsimage img {
    width: 50px;
    height: 20px;
}

.micsLeft .micsclose,
.micsRight .micsclose {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.micsLeft .micstoggle,
.micsRight .micstoggle {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.micsLeft .micsaction,
.micsRight .micsaction {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
}

.micsLeft .micscontent,
.micsRight .micscontent {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 10;
    -ms-flex: 10 265px;
    flex: 10 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

.micsLeft .micsdesc,
.micsRight .micsdesc {
    padding-right: 5px;
}

.micsRight {
    right: 0;
    bottom: 200px;
    border-left: 4px solid;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.micsRight .micsarw {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.micsRight.micshddn {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.micsRight .micsaction {
    text-align: right;
}

.micsLeft {
    left: 0;
    bottom: 200px;
    border-right: 4px solid;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.micsLeft .micsarw {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.micsLeft.micshddn {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.micsLeft .micsimage {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.micsLeft .micsaction {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
}

.micsdark {
    background-color: #42464c;
    color: #f8f8f8;
    border-color: #f1703b;
}

.micsdark .micsclose {
    color: #fff;
}

.micsdark .micscontent a {
    color: steelblue;
    opacity: 0.9;
    transition: .25s ease-in-out;
}

.micsdark .micscontent a:hover {
    opacity: 1;
    transform: scale(1.02);
}

.micsdark .micsarw circle {
    fill: #ab8063;
}

.micsdark .micsarw path {
    fill: #42464c;
}

.micshide {
    display: none;
}

.micsTop.bannerhide,
.micsBottom.bannerhide,
.micsNavTop.bannerhide {
    transform: scaleY(0);
}

.micsLeft.bannerhide,
.micsRight.bannerhide {
    transform: scaleX(0);
}

#mics_tpDiv .clx {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    color: white !important;
    transition: transform .45s ease-in-out;
}

#micsbackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000001;
}

#mics_tpDiv {
    position: absolute;
    top: 175px;
    width: 50%;
    left: 30%;
    width: 250px;
    min-height: 100px;
    z-index: 10000002;
    box-sizing: border-box;
}

.clx:hover {
    transition: 0.8s ease;
    opacity: 1;
    cursor: pointer;
}

.clx:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 13px;
    height: 0;
    border-top: 2px solid #000;
    transform: rotate(45deg);
    transform-origin: center;
}

.clx:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 13px;
    height: 0;
    border-top: 2px solid #000;
    transform: rotate(-45deg);
    transform-origin: center;
}

#mics_tpDiv .clx:before {
    width: 20px;
    border-top: 3px solid #ddd;
}

#mics_tpDiv iframe {
    border: none;
}

#mics_tpDiv .clx:after {
    width: 20px;
    border-top: 3px solid #ddd;
}

.clx-txt {
    font-size: 11px;
    opacity: 0.8;
    float: right;
    position: relative;
    top: 3px;
}

.clx-txt:hover {
    opacity: 1;
    cursor: pointer;
}

.micsloading:after {
    content: ' .';
    animation: micsdots 1s steps(5, end) infinite;
}

@keyframes micsdots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}