
    <link href="/favicon.ico?1723031466080" rel="shortcut icon">

    <!-- Google Fonts - This Stylesheet Link Referenced in Widgets too.  -->
    <link title="zf-font-src" href="https://webfonts.zoho.com/css?display=swap&amp;family=Inter:400,500,600,700/Source+Sans+Pro:400/Open+Sans:400,600,700" rel="stylesheet" type="text/css">

    
<link href="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/vendor-ff62ea25e8.css" rel="stylesheet">
    

<link href="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/zb-653a129137.css" rel="stylesheet">
    <link rel="stylesheet" href="https://css.zohocdn.com/ichat/css/Jul_25_2024_8786041_wmsbar.css">
    
<style>
    .ac-dropdown .ac-dropdown-menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
}

.item-autocomplete .ac-dropdown .ac-dropdown-menu .ac-dropdown-results {
    max-height: 275px;
    word-wrap: break-word;
    border-radius: 6px;
}



.ac-dropdown .ac-dropdown-menu .ac-dropdown-results {
    position: relative;
    display: block;
    width: 100%;
    min-height: 0;
    max-height: 240px;
    min-width: 0;
    overflow-x: hidden;
    margin: 0;
    padding: 4px;
    border-radius: 0 0 6px 6px;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}


.ac-dropdown .ac-dropdown-menu .ac-dropdown-results.left-align-options .ac-option {
    padding: 6px 0 6px 10px;
}
.item-autocomplete .dropdown-menu .dropdown-item {
    margin: 0;
}
.dropdown-menu .dropdown-item:first-child {
    margin-top: 0;
}
.dropdown-menu .dropdown-item {
    border-radius: var(--zf-dd-item-border-radius);
    margin: var(--zf-dd-item-margin);
    font-size: var(--zf-dd-item-font-size);
}
.inactive {
    color: #777;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--zf-dropdown-item-padding-y) var(--zf-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--zf-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
@supports (scrollbar-width:auto) {
    * {
        scrollbar-color: var(--scrollbar-color-thumb) transparent;
        scrollbar-width: auto;
    }
}
*, ::before, ::after {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.item-autocomplete .ac-dropdown .ac-dropdown-menu .ac-dropdown-results {
    max-height: 275px;
    word-wrap: break-word;
    border-radius: 6px;
}
.dropdown-menu {
    --zf-dropdown-zindex: 1000;
    --zf-dropdown-min-width: 10rem;
    --zf-dropdown-padding-x: 0;
    --zf-dropdown-padding-y: 0.5rem;
    --zf-dropdown-spacer: 0.125rem;
    --zf-dropdown-font-size: 1rem;
    --zf-dropdown-color: var(--zf-dd-color);
    --zf-dropdown-bg: #fff;
    --zf-dropdown-border-color: var(--zf-grey-17);
    --zf-dropdown-border-radius: var(--zf-dd-border-radius);
    --zf-dropdown-border-width: 1px;
    --zf-dropdown-inner-border-radius: calc(var(--zf-dd-border-radius) - 1px);
    --zf-dropdown-divider-bg: var(--zf-grey-17);
    --zf-dropdown-divider-margin-y: 5px;
    --zf-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --zf-dropdown-link-color: var(--zf-dd-link-color);
    --zf-dropdown-link-hover-color: var(--zf-dd-link-hover-color);
    --zf-dropdown-link-hover-bg: #e9ecef;
    --zf-dropdown-link-active-color: var(--zf-dd-link-color);
    --zf-dropdown-link-active-bg: var(--zf-dd-link-hover-bg-color);
    --zf-dropdown-link-disabled-color: var(--zf-dd-link-disabled-color);
    --zf-dropdown-item-padding-x: var(--zf-dd-item-padding-x);
    --zf-dropdown-item-padding-y: var(--zf-dd-item-padding-y);
    --zf-dropdown-header-color: var(--zf-dd-header-color);
    --zf-dropdown-header-padding-x: var(--zf-dd-item-padding-x);
    --zf-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--zf-dropdown-zindex);
    display: none;
    min-width: var(--zf-dropdown-min-width);
    padding: var(--zf-dropdown-padding-y) var(--zf-dropdown-padding-x);
    margin: 0;
    font-size: var(--zf-dropdown-font-size);
    color: var(--zf-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--zf-dropdown-bg);
    background-clip: padding-box;
    border: var(--zf-dropdown-border-width) solid var(--zf-dropdown-border-color);
    border-radius: var(--zf-dropdown-border-radius);
}

ul {
    list-style-type: disc;
}
.line-item-table .line-item-column {
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    vertical-align: top;
    word-wrap: break-word;
}
</style>
    

    <!-- Overwritten styles that need not to be inversed in RTL layout -->
    <style type="text/css">
      .ignore-rtl {
        direction: ltr;
      }
      .daterangepicker.opensleft:before {
        right: 9px;
        left: auto;
      }
      .daterangepicker.opensleft:after {
        right: 10px;
        left: auto;
      }
      .daterangepicker.opensright:before {
        left: 9px;
        right: auto;
      }
      .daterangepicker.opensright:after {
        left: 10px;
        right: auto;
      }
      html[dir="rtl"] .pagination .action {
        display: inline-block;
        transform: rotate(180deg);
      }
    </style>

<link href="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/chunk-53387c8eb3.css" rel="stylesheet">

    <link rel="stylesheet" href="https://static.zohocdn.com/micsinproduct/8605009/inproductsdk.css">
    
<link href="sales/d31g2a6snus4ly.cloudfront.net/zbooks/assets/chunk-53387c8eb3.css" rel="stylesheet"><link href="#" rel="prefetch"><script type="text/javascript" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous" src="https://static.zohocdn.com/zohosearch/Aug_06_2024_1/js/jquery-3.6.0.min.8fb8fee4fcc3cc86ff6c724154c49c42.js"></script>

    

 <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/vendor.53bca66c09f5ea9775f407096517f9d8-53bca66c09.js" onerror="notifyOnFailure(this)" integrity="sha384-HGjOu+Y8CguMTQonztpjM6IiRbExYfQW4TF4SeF0fiexFu2JdIQrShgac2i+KJaS" crossorigin="anonymous"></script>

    <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/i18n/MessageResources_en-6094ff9176.js" onerror="notifyOnFailure(this)"></script>
    <script src="https://static.zohocdn.com/micsinproduct/8605009/inproductsdk.js"></script>
      



    <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/zb.b56f679360f1f6126d44-5ccb974e5a.js" onerror="notifyOnFailure(this)" integrity="sha384-FjB8O/CA9jfqx92Y1Hr8R5FdbscppDP2mAXKCulyOhjNV6maiWzWQqSzj2Tdz4kE" crossorigin="anonymous"></script>
    <script>
        self["webpackChunkzb"].push([
            ["svgs-erp"], {}
        ]);
    </script>
    <BOOKS_SVGS>
        <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/svgs/books.b7c7e08c5f6856019e3a-b0a85a7268.js" onerror="notifyOnFailure(this)" integrity="sha384-ZnInjalMABNS5FF7KjRuybm+em8qC+6q5Fzgik98eRhYxM7ZGFPVAnwSgH/DutF8" crossorigin="anonymous"></script>
    </BOOKS_SVGS>
    <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/models.887811cdd5d954a36521-b68f12e995.js" onerror="notifyOnFailure(this)" integrity="sha384-TbhnMtiN0kclweN3Ykx8FkUNoZQU11PgySIacgq5Xa9I47Wt2QTL51cuBVMgUMVA" crossorigin="anonymous"></script>
    <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/svgs/common.d32d53512134d0d2687d-b2c5886655.js" onerror="notifyOnFailure(this)" integrity="sha384-hrRk7kBpFozwWwsyiwuWbOditlxp90DtJhZtTJUn7IQtoG2lm1bkgQU887981Ext" crossorigin="anonymous"></script>
    <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/zb.9b909fbf8b4ec94efa2f-8099f820d7.js" onerror="notifyOnFailure(this)" integrity="sha384-2IyN4lkuLtp4DD8b7eegLEHPX7MWJayfHZMhngnB1sVXrYFTIRBDQE99BtvJ5MpV" crossorigin="anonymous"></script>
    <script src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/zb.e70e42054c0572fdbc15-b1b6f27b95.js" onerror="notifyOnFailure(this)" integrity="sha384-lX517tggmki1CWYTvvydt1q2Cye3jrNszki2eL/ovHBsqfOivrsDKAg2c+UPrUTw" crossorigin="anonymous"></script>


<div class="d-flex "><!----> <div class="item-field mb-3 "><div id="ember405" class="item-autocomplete ember-view" data-integrity="line_items.0.item_id"><div id="ember485" class="dropdown show ac-dropdown ac-dp-group ember-view"><textarea autocomplete="off" spellcheck="true" placeholder="Type or click to select an item." autocorrect="off" autocapitalize="off" id="ember486" class="zb-invoice-item-textarea ember-text-area form-control item-description ember-view"></textarea>  <div class="ac-dropdown-menu ac-box-drop"><ul class="ac-dropdown-results dropdown-menu input-block-level left-align-options "><!----><li class="ac-item-details dropdown-item ac-option inactive"> <a tabindex="-1"><div class="autocomplete-option" title="Dishwashing Liquids 5 x 750ml"><div class="ac-name-rate-sku"><div class="ac-name">Dishwashing Liquids 5 x 750ml</div> <div class="grey-text"><div><!----><!----></div><!----><span class="ac-rate">Rate: USD 8.00</span></div></div> <div class="ac-stock"><div>Stock on Hand</div> <div class="stock-available">249.00 box</div></div></div></a> <div class="border-line"></div></li><li class="ac-item-details dropdown-item ac-option inactive"> <a tabindex="-1"><div class="autocomplete-option" title="Mega Snax 20 x 20g"><div class="ac-name-rate-sku"><div class="ac-name">Mega Snax 20 x 20g</div> <div class="grey-text"><div><!----><!----></div><!----><span class="ac-rate">Rate: USD 3.00</span></div></div> <div class="ac-stock"><div>Stock on Hand</div> <div class="stock-available">298.00 packet</div></div></div></a> <div class="border-line"></div></li><li class="ac-item-details dropdown-item ac-option inactive"> <a tabindex="-1"><div class="autocomplete-option" title="Pens"><div class="ac-name-rate-sku"><div class="ac-name">Pens</div> <div class="grey-text"><div><!----><!----></div><!----><span class="ac-rate">Rate: USD 6.00</span></div></div> <div class="ac-stock"><div>Stock on Hand</div> <div class="stock-available">100.00 box</div></div></div></a> <div class="border-line"></div></li><li class="ac-item-details dropdown-item ac-option active"> <a tabindex="-1"><div class="autocomplete-option" title="Sugar Beans 10 x 500g"><div class="ac-name-rate-sku"><div class="ac-name">Sugar Beans 10 x 500g</div> <div class="grey-text"><div><!----><!----></div><!----><span class="ac-rate">Rate: USD 10.00</span></div></div> <div class="ac-stock"><div>Stock on Hand</div> <div class="stock-available">100.00 box</div></div></div></a> <div class="border-line"></div></li></ul> <!----><a class="ac-quick-create" href="#" tabindex="-1" data-ember-action="" data-ember-action-488="488"><i class="zf-ac-add-new-icon"><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 440.72 440.73"><path fill="#408dfb" d="M220.36 0C98.66 0 0 98.66 0 220.36s98.66 220.37 220.36 220.37 220.36-98.66 220.36-220.37S342.06 0 220.36 0zm106.21 242.74h-83.79v83.8c0 12.43-10.07 22.5-22.5 22.5s-22.5-10.07-22.5-22.5v-83.8h-83.8c-12.42 0-22.5-10.07-22.5-22.5s10.08-22.5 22.5-22.5h83.8v-83.79c0-12.43 10.07-22.5 22.5-22.5s22.5 10.07 22.5 22.5v83.79h83.79c12.43 0 22.5 10.08 22.5 22.5s-10.07 22.5-22.5 22.5z" id="Layer_1-2"></path></svg></i> <span class="zf-ac-add-new-label">Add New Item</span></a></div></div></div> <!----> <div class="d-flex"><!----><!----></div> <!----><!----><!----><!----></div></div>