<!DOCTYPE html>
<html class="light" lang="en" dir="ltr">

<head>
    <meta charSet="utf-8" />
   
    <title>SchoolZoid | Setup </title>
    <meta name="description" content="SchoolZoid is an online school management system that saves you time and makes your school look professional ." />
    <meta name="keywords" content="SchoolZoid is world's first fully online school management system with scheduler, parent portal, attendance, homework, grades, report card and more." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="This school management software is for learning, administration, and management activities in schools, colleges, universities." />
    <meta property="og:url" content="https://schoolzoid.co.zw" />
    <meta property="og:site_name" content="SchoolZoid | Arioc Digital Agency" />
    <link rel="canonical" href="https://schoolzoid.co.zw" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="blog/build/_assets/tailwind-ZIFXSXFU.css" />
    <link rel="stylesheet" href="blog/build/_assets/index-VSTNLO2J.css" />
    <link rel="stylesheet" href="blog/build/_assets/billboard.min-SMIBLNO3.css" />
    <link rel="stylesheet" href="blog/build/_assets/Flatpicker-4ON3W3KG.css" />
    <link rel="stylesheet" href="blog/build/_assets/fonts-4KKNMEKW.css" />
    <link rel="stylesheet" href="blog/build/_assets/mdfile-KT4VFRDX.css" />
    <link rel="stylesheet" href="blog/build/_assets/light-JU3EKE2W.css" />

    <link rel="preload" href="/locales/en.json" as="fetch" type="application/json" crossorigin="anonymous" />
 
    <script src="blog/env.js"></script>
</head>

<body class="bg-white">
    <div class="relative" data-headlessui-state="">
        <header class="relative overflow-x-clip bg-gray-50 dark:bg-slate-900 border-b border-gray-200 dark:border-slate-600/40">
            <nav class="mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
                <div class="w-full py-4 flex items-center justify-between border-b border-indigo-500 dark:border-slate-600 lg:border-none">
                    <div class="flex items-center"><a href="index.html"><span class="sr-only">SchoolZoid</span><img class="-translate-y-[3px]" height="28px" width="126.35px" src="blog/assets/logo_blue.png" alt=""/></a>
                        <div class="hidden ml-10 space-x-1 lg:flex gap-4 items-center"><a class="font-semibold leading-6 text-base text-slate-800 hover:text-slate-700 dark:text-slate-200 dark:hover:text-white" href="setup.html">Setup</a></div>
                    </div>
                    <div class="hidden md:flex justify-center items-center flex-wrap ml-1 md:ml-10 space-y-1 sm:space-y-0 space-x-2 md:space-x-4">
                        <div class="relative inline-block text-left" data-headlessui-state="">
                            <div><button class="!py-0 inline-flex items-center [&amp;&gt;svg]:w-4 [&amp;&gt;svg]:h-4 [&amp;&gt;svg]:mr-0 [&amp;&gt;svg]:ml-1 text-sm font-semibold leading-6 text-base text-slate-800 hover:text-slate-700 dark:text-slate-200 dark:hover:text-white justify-center inline-flex w-full px-3 md:px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-50 outline-none group"
                                    id="headlessui-menu-button-:R4pakp:" type="button" aria-haspopup="menu" aria-expanded="false" data-headlessui-state=""><img src="blog/cdn.jsdelivr.net/gh/madebybowtie/FlagKit@2.2/Assets/SVG/GB.svg" role="img" alt="" height="18" width="18" class="rounded-sm mr-1.5" aria-hidden="true"/>English<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="-mr-1 ml-2 h-5 w-5 group-hover:text-gray-500"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path></svg></button></div>
                        </div>
                        <div class="relative ml-3" data-headlessui-state="">
                            <div><button class="flex justify-center items-center font-semibold leading-6 text-base text-slate-800 hover:text-slate-700 dark:text-slate-200 dark:hover:text-white" id="headlessui-menu-button-:R39akp:" type="button" aria-haspopup="menu"
                                    aria-expanded="false" data-headlessui-state=""><span class="sr-only">Switch theme</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-slate-700 hover:text-slate-600 cursor-pointer"><path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd"></path></svg></button></div>
                        </div><span class="text-slate-700">|</span><a class="flex items-center font-semibold leading-6 text-base text-slate-800 hover:text-slate-700 dark:text-slate-200 dark:hover:text-white" href="https://schoolzoid-nljg.onrender.com/">Sign in<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="ml-1 stroke-2 h-4 w-4 mt-[1px]"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0-6.75-6.75M19.5 12l-6.75 6.75"></path></svg></a></div>
                    <div
                        class="md:hidden flex justify-center items-center">
                        <div class="transition-all duration-1000 ease-in-out"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-10 w-10 text-slate-700 hover:text-slate-600 cursor-pointer"><path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd"></path></svg></div>
                        <button
                            class="bg-white dark:bg-slate-800 dark:hover:bg-slate-700 dark:text-gray-200 rounded-md p-2 ml-3 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                            type="button" aria-expanded="false" data-headlessui-state=""><span class="sr-only">Open menu</span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg></button>
                </div>
    </div>
    <div class="py-4 flex gap-4 flex-wrap justify-center space-x-2 lg:hidden"><a class="flex items-center font-semibold leading-6 text-base text-slate-800 hover:text-slate-700 dark:text-slate-200 dark:hover:text-white" href="setup.html">Setup</a></div>
    </nav>
    </header>
    </div>
    <div style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0;display:none"></div>
    <div class="bg-gray-50 dark:bg-slate-900 text-gray-700 dark:text-gray-300">
        <div class=" max-w-[52rem] mx-auto px-4 pb-28 sm:px-6 md:px-8 xl:px-12 lg:max-w-6xl">
            <div class="overflow-hidden">
                <div class="max-w-8xl mx-auto">
                    <div class="flex px-4 pt-8 pb-10 lg:px-8"><a class="group flex font-semibold text-sm leading-6 text-slate-700 hover:text-slate-900 dark:text-slate-200 dark:hover:text-white" href="index.html"><svg viewBox="0 -9 3 24" class="overflow-visible mr-3 text-slate-400 w-auto h-6 group-hover:text-slate-600 dark:group-hover:text-slate-300"><path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>Go back</a></div>
                </div>
                <div class="px-4 sm:px-6 md:px-8">
                    <div class="max-w-3xl mx-auto pb-28">
                        <main class="bg-gray-50 dark:bg-slate-900">
                            <article class="relative pt-10">
                                <h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl ">Software Setup </h1>
                           
                                <div class="mt-6 single_post">
                                    <div>
                                        <p>SchoolZoid, unlike other student information systems, works on an entirely different model. You don't install hardware and software, you don't manage backups, nothing like that. We manage all of that on our end. When we could not find a system in the market that we were happy to use ourselves, we decided to build it. Thus was born SchoolZoid!</p>
                              

                                        <p>Simply connect via the Internet to your school site on schoolzoid.co.zw. Log-in, and you're up and running..</p>
                                     

                                        <p> Can you imagine that? Up and running in minutes. But you're probably dreading keying in the data you already have, lying around in Excel spreadsheets and Word documents. Student names, teacher addresses. Don't want to key all that initial information in? Don't worry... We'll take care of it. Simply email us your data, and we'll do all the importing for you. </p>
                                    
                                    </div>
                                </div>
                            </article>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-gray-800 dark:bg-gray-750" aria-labelledby="footer-heading">
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div class="w-11/12 pt-8 pb-5 px-4 sm:px-6 lg:px-8">
            <div class="xl:grid xl:grid-cols-2 xl:gap-8">
                <div class="space-y-5 xl:col-span-1">
                    <div class="flex gap-5 flex-wrap"><img height="28px" width="126.35px" src="blog/assets/logo_white.png" loading="lazy" alt="SchoolZoid Analytics" /></div>
                    <p class="text-gray-300 text-base">The best schools need the best services.<br/>SchoolZoid is a powerful analytics platform.</p>
                    <div>
                        <p class="flex text-gray-300 text-base">Call Us:<a class="flex hover:underline hover:opacity-80 text-blue-400 ml-1"  target="_blank" rel="noopener noreferrer" aria-label="Ukraine Wikipedia page (opens in a new tab)"> <!-- -->+263 771 446 827 / +263 71 551 7026</a></p>
                        <p
                            class="flex text-gray-300 text-base">Email Us:<a class="flex hover:underline hover:opacity-80 text-blue-400 ml-1"  target="_blank" rel="noopener noreferrer" aria-label="European Union Wikipedia page (opens in a new tab)"> <!-- -->info@schoolzoid.co.zw</a></p>
                    </div>
                  
                    <p class="text-base pt-10 text-gray-300">©
                        <!-- -->2024
                        <!-- -->
                        <!-- -->SchoolZoid Analytics. All rights reserved.</p>
                </div>
               
                </div>
            </div>
        </div>
    </footer>
    <script>
        ((STORAGE_KEY, restoreKey) => {
            if (!window.history.state || !window.history.state.key) {
                let key = Math.random().toString(32).slice(2);
                window.history.replaceState({
                    key
                }, "");
            }
            try {
                let positions = JSON.parse(sessionStorage.getItem(STORAGE_KEY) || "{}");
                let storedY = positions[restoreKey || window.history.state.key];
                if (typeof storedY === "number") {
                    window.scrollTo(0, storedY);
                }
            } catch (error) {
                console.error(error);
                sessionStorage.removeItem(STORAGE_KEY);
            }
        })("positions", null)
    </script>
    <link rel="modulepreload" href="blog/build/entry.client-YFBVDONL.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-LDHYVMOY.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-W2XRJTGN.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-GEJCALAD.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-7XDELMZB.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-MSGER76V.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-Z3FUFQEO.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-NGIKGSHE.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-TF7C7MH2.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-DPI6PCVH.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-MGB3JPCV.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-PIJMKZDS.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-5YEMDBLX.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-KKTF54FB.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-2SDAKG4K.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-KO3OK2JV.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-ADMCF34Z.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-2VFVXMDI.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-ACXUQHNI.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-ACUS6QMC.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-OCXPQHWM.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-FYOJSZQH.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-7GX4ESDR.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-6Y3TRW2U.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-RE5TXYDZ.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-U7NFLLIJ.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-JIIFQLPC.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-VZQVWFLO.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-63OPQ3LC.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-BDCBWI64.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-YXZ43UYH.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-PNYNM7FJ.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-LBZJ6WIX.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-26OF5URC.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-G5JY52TA.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-GN5FI7FR.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-5C6XY6QG.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-GP7FUFVM.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-57DP7WQB.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-I4QJWQOX.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-AG5EO474.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-BWHACG72.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-PBT6S77D.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-IZJOZXHS.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-C4K24J7E.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-BM2U2S6E.js" />
    <link rel="modulepreload" href="blog/build/root-EJUF2A5U.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-USOAP73R.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-3SZCNBN5.js" />
    <link rel="modulepreload" href="blog/build/_shared/chunk-RTA5ZRRP.js" />
    <link rel="modulepreload" href="blog/build/routes/blog.$slug-CUTJPUAU.js" />
    
    <script type="module" async="">import "blog/build/manifest-2FF2833E.js"; import * as route0 from "blog/build/root-EJUF2A5U.js"; import * as route1 from "blog/build/routes/blog.$slug-CUTJPUAU.js"; window.__remixRouteModules = {"root":route0,"routes/blog.$slug":route1}; import("blog/build/entry.client-YFBVDONL.js");

    </script>
</body>

</html>